*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    background-color:white;
}
.intro{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    
}
.intro-header{
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.5);
    padding: 2rem 2.5rem;
    color: white;
}
.intro-header>h1{
    font-size: 4rem;
    margin-bottom: 0.75;
    
}
.intro-header>p{
    font-size: 1.8rem;
}
.slideshow-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.75s ease-in-out;

}